

body,
html{
  height: 100%;
}

body{
  background-color: $bg;
  color: $default;
  @extend %roboto-400;
  font-size: 16px;
  line-height: 30px;
  position: relative;
}

.wrapper{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title{
  color: $white;
  @extend %oswald-500;
  font-size: 40px;
  line-height: 52px;
  text-transform: uppercase;
  z-index: 1;
}

.box-title{
  z-index: 1;
  position: relative;
}
.subtitle{
  @extend %oswald-600;
  font-size: 100px;
  line-height: 120px;
  color: $opacity;
  position: absolute;
  text-transform: uppercase;
  z-index: -1;
}